:root {

  --text-white: oklch(100% 0 0);
  --text-black: oklch(24.11% 0.01 248.2);

  --background-main: oklch(96.6% 0.01 292.1);
  --background-secondary: oklch(70.5% 0.136 292.1);
  --background-card: oklch(100% 0 0 / 70.2%);

  --border-primary: oklch(35% 0.116 357.88);
  --border-secondary: oklch(35% 0.116 273.37);
  --border-radius-1: 4px;
  --border-radius-2: 8px;

  --shadow: 0px 0px 2px 0px oklch(0% 0 0 / 0.12), 0px 2px 4px 0px oklch(0% 0 0 / 0.14);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
